@import "normalize";
@import "layout";
@import "slick";
@import "slick-theme";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,800');


body{
	font: 700 14px/1.3 "Raleway", Arial, sans-serif;

}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1500px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 55px;
	text-transform: uppercase;
	border: none;
	outline: none;
	font-family: "Montserrat";
	color:  #9ca2b4;
	font-size: 14px;
	font-weight: 400;
	border-radius: 5px;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #515861;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	display: inline-block;
    height: 56px;
    border: none;
    border-bottom: 1px solid #E2E4E9;
    padding: 0 30px;
    vertical-align: middle;
    max-width: 500px;
    font-family: "Raleway";
	color:  #bcc0cd;
	font-size: 36px;
	font-weight: 700;

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header{
	padding: 49px 40px;
}
.ba-menu {
	list-style: none;
	padding: 0;
	a {
	text-decoration: none;
	padding-bottom: 10px;
	margin: 0 30px;
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	}
	a:hover {
	color: #9FD2ED;
	}
	li {
	float: left;
	}
}
/* ba-architecture */

.ba-architecture{
	padding-bottom: 130px;
	position: relative;
	&__title{
	font-family: "Raleway";
	color:  #000000;
	font-size: 92px;
	font-weight: 700;
	line-height: 125px;
	position: absolute;
	width: 700px;
	left: 18%;
    bottom: 35%;
	}
}

.ba-volut{
	h3{
	font-family: "Raleway";
	color:  #bcc1cd;
	font-size: 72px;
	font-weight: 700;
	}
	p{
	font-family: "Montserrat";
	color:  #9ca2b4;
	font-size: 14px;
	font-weight: 400;
	line-height: 48px;
	}
}
.ba-ideas{
	position: relative;
	padding-bottom: 130px;
	h3{
	position: absolute;
	font-family: "Raleway";
	color:  #000000;
	font-size: 105px;
	font-weight: 700;
	display: block;
	}
}

/* ba-works */

.ba-works{
	padding-bottom: 104px;
	a{
	font-family: "Raleway";
	color:  #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	}
	h3{
	position: absolute;
	width: 100%;
	left: 25%;
	}
}

/* .ba-how-work */

.ba-how-work{
	background: url("../img/how_we_work.jpg") 50% no-repeat;
	background-size: cover;
	text-align: center;
	&__title{
	font-family: "Raleway";
	color:  #97d1eb;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	&:after {
		content: "";
		display: block;
		background-color:  rgba(151, 209, 235, 0.3);
		width: 189px;
		height: 1px;
		}
	&:before {
		content: "";
		display: block;
		background-color:  rgba(151, 209, 235, 0.3);
		width: 189px;
		height: 1px;
		}
	}
}
.ba-subtitle{
	font-family: "Raleway";
	color:  #97d1eb;
	font-size: 24px;
	font-weight: 700;
}

/* ba-slider */

.ba-title__project{
	font-family: "Raleway";
	color:  #97d1eb;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 100px;
}
.ba-subtitle{
	font-family: "Raleway";
	color:  #000000;
	font-size: 36px;
	font-weight: 700;
}

.ba-slider__info{
	margin-left: 100px;
	h4{
		font-family: "Raleway";
		color:  #000000;
		font-size: 48px;
		font-weight: 700;
		width: 450px;
	}
	p{
		font-family: "Raleway";
		color:  #000000;
		font-size: 14px;
		font-weight: 700;
		line-height: 60px;
	}
}

/* ba-contact */
.ba-contact{
	padding: 100px;
	border: 21px solid #97d1eb;
	box-sizing: border-box;
	background-color:  rgba(151, 209, 235, 0);
	border-height: 800px;
	&__title{
	font-family: "Raleway";
	color:  #97d1eb;
	font-size: 16px;
	font-weight: 700;
	line-height: 125px;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
	}
}
.ba-contact__form {
	max-width: 800px;
	height: 50px;
	margin-bottom: 15px;
	color:#fff;
	text-decoration: none;
	outline: transparent;
	&:focus{

	}
}

/* ba-footer */

.ba-footer{
	background-color:  #0f0f0f;
	text-align: center;
	font-family: "Raleway";
	color:  #5d5d5d;
	font-size: 14px;
	font-weight: 400;
	padding: 77px;
}
